.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 1em 1em 1em 1em;
  color: white;
}

.general-form,
.education-form {
  margin-bottom: 1em;
}

.education-form-container {
  display: flex;
  flex-direction: column;
}

.general-form,
.education-form,
.experience-form {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

.button {
  cursor: pointer;
}
